
.container {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 150px;
}

label{
  margin-top: 10px;
  background-color: #d1d2d1;
  padding: 8px 16px;
  border-radius:5px;
  box-shadow: 2px 2px 5px #888888;
}
i{
  margin-left: -5px;
  margin-top: 5px;
  color: tomato;

}

