
<md-toolbar>
  <md-nav-list>
    <a md-list-item [routerLink]="adminUrl" routerLinkActive="active-link">管理员首页</a>
    <a md-list-item [routerLink]="addBlogUrl" routerLinkActive="active-link">发布博客</a>

    <!--
    <a md-list-item [routerLink]="editBlogUrl" routerLinkActive="active-link">删除/编辑博客</a>

       <a md-list-item [routerLink]="addSourceCode" routerLinkActive="active-link">发博开源</a>
    <a md-list-item [routerLink]="editSourceCode" routerLinkActive="active-link">删除/编辑开源</a>

    -->
     <a md-list-item [routerLink]="configTag" routerLinkActive="active-link">标签</a>
  </md-nav-list>

</md-toolbar>
