
<div class="whole">
  <md-card>
    <md-card-title>
      序--为什么开博客？
    </md-card-title>
    <md-card-content>
      <small>发布日期 : 2017-03-21 </small>
      <p>
        软件更新非常快，每个人都有自己熟悉或者不熟悉的领域，都需要不断的学习！ 很多人遇到具体问题都需要借助于网络找答案，看思路，解Bug！
      </p>
      <p>
        我将自己技术研究心得留这，希望能帮助到您！如果您有更好的方案，也希望您能反馈于我！
      </p>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      动态显示博客内容
    </md-card-title>
    <app-blog-template></app-blog-template>

  </md-card>

  <app-baidu-google-ad class="ad"></app-baidu-google-ad>
</div>




