<div class="whole">
  <md-card>
    <md-card-subtitle>
      如果要编辑某个博客，先回到
      <a [routerLink]="blogUrl"  routerLinkActive="active-link" >博客</a> ，
      登录管理员后导航到指定页面，即可删除／编辑
    </md-card-subtitle>
    <app-manage-blog-template [ckPlaceholder]="ckPlaceholder"
                              [ckContent]="ckContent"
                              [allTags]="allTags" [allTagsContent]="allTagsContent"
                              [saveUrl]="saveUrl"  [id]="blogId"
                              [titlePlaceholder]="titlePlaceholder"
                              [titleContent]="titleContent"
                              [descriptionPlaceholder]="descriptionPlaceholder"
                              [descriptionContent]="descriptionContent"
                              [manageType]="manageType">
    </app-manage-blog-template>

  </md-card>
</div>
