<div class="whole">
  <md-card>
    <md-toolbar color="primary">关于我</md-toolbar>

    <md-card-content>
      <div class="hobbyAndHeader">

        <div class="hobbies">
          <md-list>
            <md-list-item *ngFor="let hobbyName of hobbyNames">
              <span class="hobbyName">{{hobbyName}}</span>
            </md-list-item>
          </md-list>
          <md-list>
            <md-list-item *ngFor="let hobbyValue of hobbyValues">
              {{hobbyValue}}
            </md-list-item>
          </md-list>

        </div>

        <div>
          <h4 style="margin-top: 20px">可添加我微信:</h4>
          <img src="assets/weixin-header.png" style="width: 200px ; height: 200px"
               alt="微信二维码"/>
        </div>

      </div>
      <md-divider></md-divider>
      <div class="aboutMeContent">
        <p>
          市场营销小本已，为数年营销，创数年业。因喜互联网，爱技术，后专Java ，大数据，人工智能 。
        </p>
        <p>
          自小上学期间喜欢数学，计算机，几乎所有的理科，因高考失利，大学被调剂到了市场营销专业。 毕业后，做了几年销售，后创业，现在仍然是自由职业者。
        </p>
        <p>
          熟悉的领域：java Web开发，前端Jquery，Bootstrap，Css，AngularJs，Angular2；
          后端熟悉Java ，Spring框架，包含（spring mvc，spring boot，spring cloud，spring security，spring data。。。），
          数据库方面 接触过MySql，MongoDb，Redis，中间件： RabbitMq，
        </p>
        <p>
          方向：Java、算法、大数据、人工智能！
        </p>
        <p>
          数学和计算机基础：
          图论，线性代数，微积分。
        </p>
        <p>
          可以开发的产品：
          微信公众号，网站，App，后台程序。
        </p>

      </div>
    </md-card-content>
    <md-card-actions>
      <a md-raised-button [routerLink]="blogUrl" routerLinkActive="active">更多博客分享</a>
    </md-card-actions>
  </md-card>

  <!--
    <app-baidu-google-ad class="ad"></app-baidu-google-ad>

  -->


</div>




