.whole{
  margin: 15px;
}
.hobbyAndHeader{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.hobbies{
  display: flex;
  display: -webkit-flex;
}

.hobbyName{
  text-shadow: 1px 1px #3e3e3e;
}

.aboutMeContent p{
  margin-top: 15px;
  text-indent:2em;
}

.ad{
  margin: 15px;
}

