<md-card class="card-item">
  <md-card-title>
    编辑选择的标签
  </md-card-title>
  <md-card-content>

    <div *ngIf="formErrors.newName">
      {{ formErrors.newName }}
    </div>


    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <md-select placeholder="选择需要被删除的标签" formControlName="oldName"
                   style="width: 200px">
          <md-option *ngFor="let tag of allTags" [value]="tag">
            {{tag}}
          </md-option>
        </md-select>

        <md-input-container style="width: 200px">
          <input mdInput placeholder="输入新标签" formControlName="newName">
        </md-input-container>

        <button md-fab type="submit" [disabled]="!form.valid">
          <md-icon class="md-24">check</md-icon>
        </button>

      </p>


    </form>
  </md-card-content>
</md-card>

